<div class="row px-3 position-relative mt-3 mb-3 py-3 column-gap-4 row-gap-4 justify-content-center graphic-container">

  <div class="col-xl-3 col-md-5 col-12 order-xl-0 order-md-1 order-2 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
    <app-graphic-primera-caja></app-graphic-primera-caja>
  </div>

  <div class="col-xl-3 col-md-5 col-12 order-xl-0 order-md-1 order-2 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm d-flex flex-column align-items-center justify-content-center">
    <div class="mb-3 w-100 d-flex justify-content-center align-items-center" style="height: 50%;">
      <app-graphic-segunda-caja></app-graphic-segunda-caja>
    </div>
    <div class="w-100 d-flex justify-content-center align-items-center" style="height: 50%;">
      <app-graphic-tercera-caja></app-graphic-tercera-caja>
    </div>
  </div>
  
  <div class="col-xl-5 col-12 border order-xl-2 order-0 border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm" > 
    <app-graphic-cuarta-caja></app-graphic-cuarta-caja>
  </div>
  
  <!-- Caja 5: Gráfico de barras -->
  <div class="col-xl-5 col-12 border order-xl-2 order-0 border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm" style="height: 100%; display: flex; flex-direction: column;">
    <app-graphic-quinta-caja></app-graphic-quinta-caja>
  </div>

  <div class="col-xl-5 col-12 border order-xl-2 order-0 border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm"> 
    <app-graphic-sexta-caja></app-graphic-sexta-caja>
  </div>

</div>
